<% provide(:class_text, 'user-info') %>
<% provide(:button_text, '更新') %>
<div class="main-container-student-index">
  <div style="margin-top: 100px;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1 class="modal-title"><b>ユーザ情報編集</b></h1>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_with(model: @user, url: update_user_info_user_path(@user), local: true, method: :patch) do |f| %>

            <%= f.label :tel, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :tel, placeholder: "半角数字、ハイフンなし", class: "form-control" %>

            <%= f.label :email, class: "label-#{yield(:class_text)}" %>
            <%= f.email_field :email, class: "form-control" %>

            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
              <%= link_to "キャンセル", users_path(current_user), class: "btn btn-default" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>