<!DOCTYPE html>
<html>
  <head>
    <title>Surfing_skillup_application</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_vue', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <div id="app">
      <router-view></router-view>
    </div>
  </body>
</html>
